@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --bg-color: #1A0B2E;
  --green-text: #00FF88;
}
/* global style */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  max-width: 1600px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* shared styles */
.gradient_btn {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  border: none;
  border-radius: 10000px;
  padding: 12px 16px;
  text-align: center;
}

.flex { display: flex; }
.hidden { display: none; }

/* nonshared styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
  padding: 1.25rem;
}
.navbar .brand {
  font-weight: bold;
  color: white;
  font-size: 2.2rem;
}
.navbar .brand .wave {
  background: linear-gradient(10deg, #F7E93F, #fb09e7, #590099);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.navbar .nav_links {
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero {
  background-image: url(assets/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero_container {
  margin: 40px 20px;
}
.hero .banner{
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}
.challenge_btn {
  position: absolute;
}

/* media queries */
@media screen and (min-width: 576px) {
  .hidden { display: flex; }
  .menu_icon { display: none;}
  .navbar { justify-content: space-around;}
}
@media screen and (min-width: 992px) {
  .hero .banner {
    width: 60%;
  }
}