@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --green-text: #00FF88;
}

/* shared styles */
body {
  font-family: "Inter", sans-serif;
}
/* nonshared styles */


/* media queries */
