@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --bg-color: #1A0B2E;
  --green-text: #00FF88;
  --text-color: #ffffff;
}

/* global style */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  max-width: 1600px;
  margin: 0 auto;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  opacity: 70%;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* shared styles */
.gradient_btn {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  border: none;
  border-radius: 10000px;
  padding: 12px 16px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.gradient_btn:hover {
  scale: 1.02;
  background: transparent;
  border: 1px solid var(--text-color);
}

.btn_reset {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.brand {
  font-weight: bold;
  color: var(--text-color);
  font-size: 2.2rem;
}

.brand .wave {
  background: linear-gradient(10deg, #F7E93F, #fb09e7, #590099);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.section_head {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1.8rem;
  text-align: center;
}

/* nonshared styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
  padding: 1.25rem;
}

.navbar .nav_links {
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero {
  background-image: url(assets/hero-bg.png);
  background-position: center 4rem;
  background-repeat: no-repeat;
  background-size: contain;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 40px 20px;
}

.hero .banner {
  position: relative;
  width: 50%;
  max-width: 250px;
  margin: 0 auto;
}

.microphone_bg {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.challenge_btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1A0B2E;
  border: none;
  border-radius: 1000px;
  background-color: var(--green-text);
  box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
  padding: 8px 16px;
  cursor: pointer;
  animation: float 1.8s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-12px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero .hero_content {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero_content h2 {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: bolder;
}

.hero_content p {
  margin: 8px 0 24px;
}

.hero_content .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.green_btn {
  border: 1px solid var(--green-text);
  color: var(--green-text);
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 10000px;
  transition: 0.2s ease-in-out;
}

.green_btn:hover {
  scale: 1.02;
}

.podcast {
  padding: 2.5rem 1.25rem;
}

.podcast .podcast_content {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.281);
  padding-bottom: 2.5rem;
}

.podcast .podcast_rating {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2.5rem;
  margin: 2.5rem auto 0;
}

.podcast_rating .ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.ratings h2 {
  color: var(--green-text);
  font-size: 2.5rem;
  font-weight: 900;
}

.ratings p {
  text-transform: uppercase;
}

.grid_sec {
  padding: 2.5rem 1.25rem;
  background-color: #230E3D;
}

.grid_sec .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.grid .child {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  border-radius: 1.5rem;
  align-content: center;
}

.grid .child h3 {
  color: var(--text-color);
  font-size: 1.375rem;
  font-weight: bold;
}

.feature_sec {
  padding: 2.5rem 1.25rem;
}

.feature_sec .fetures {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 1.8rem;
  max-width: 1200px;
  margin: 0 auto;
}

.fetures .feture_ep {
  border-radius: 24px;
  max-width: 90%;
  height: 100%;
  background-color: #250D44;
}

.video {
  width: 100%;
  height: 215px;
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 24px 24px 0 0;
}

.content {
  padding: 1.5rem;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.content .time {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.time p {
  color: var(--green-text);
  font-weight: 600;
  opacity: 100;
}

.host_sec {
  padding: 2.5rem 1.25rem;
}

.host_sec .container {
  padding: 1.5rem;
  border-radius: 24px;
  background-color: rgba(53, 17, 101, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .host_img {
  border-radius: 50%;
}

.container .host_content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 16px 0;
}

.host_content .host_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
}

.host_logos .logos {
  padding: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #533C72;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logos img {
  width: 100%;
}

.footer {
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  background-image: url(assets/footer-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 160% 100%;
}

.footer h2 {
  font-size: 3rem;
}

.footer .footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer_links p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
}

.footer .footer_text p {
  text-align: center;
  font-weight: 300;
}


/* Medium Device */
@media screen and (min-width: 576px) {
  .hidden {
    display: flex;
  }

  .menu_icon {
    display: none;
  }

  .navbar {
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .hero {
    background-position: center 30px;
  }

  .podcast {
    padding: 2.5rem 5rem;
  }

  .podcast .podcast_content {
    padding-bottom: 4rem;
  }

  .podcast .podcast_rating {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .feature_sec .fetures {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large Device */
@media screen and (min-width: 992px) {
  .brand {
    font-size: 3rem;
  }

  .navbar {
    margin-bottom: 4rem;
  }

  .hero .banner {
    width: 60%;
  }

  .hero {
    background-position: center -1.2rem;
    background-size: 100% 100%;
  }

  .hero .banner {
    position: relative;
    width: 50%;
    max-width: 350px;
  }

  .challenge_btn {
    top: 15px;
    right: 20px;
  }

  .hero_content h2 {
    font-size: 3.75rem;
  }

  .section_head {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .podcast {
    padding: 3.2rem 8.5rem;
  }

  .podcast .podcast_content {
    padding-bottom: 4.5rem;
  }

  .podcast .podcast_rating {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin-top: 4.5rem;
    margin-bottom: 6.5rem;
  }

  .grid_sec {
    padding: 6.5rem 8.5rem;
  }

  .grid_sec .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }

  .grid .child1 {
    grid-row: span 2;
  }

  .child2,
  .child3,
  .child4 {
    grid-column: span 2;
  }

  .child5 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .feature_sec .fetures {
    grid-template-columns: repeat(3, 1fr);
  }

  .host_sec {
    padding: 0 8.5rem 6.5rem;
  }

  .host_sec .container {
    flex-direction: row;
    text-align: left;
    gap: 24px;
  }

  .host_content h3 {
    font-size: 2rem;
  }

  .host_content .host_logos {
    justify-content: flex-start;
  }

  .footer {
    background-size: 100% 100%;
  }

  .footer h2 {
    font-size: 4rem;
  }

  .footer .footer_links {
    gap: 2.5rem;
  }
}